.light-mainContainer {
  background-color: #f6f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  width: 100vw;
}
.dark-mainContainer {
  background-color: #141d2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  width: 100vw;
}
