.container {
  width: 20.4375rem;
  height: 32.3125rem;
  flex-shrink: 0;
  background: #f6f8ff;
}
.container .user {
  width: 14.5625rem;
  height: 4.375rem;
  flex-shrink: 0;
  display: flex;
}
.container .user img {
  width: 4.375rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 4.375rem;
}
.container .userinfo {
  width: 9rem;
  height: 4.3125rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.container .userinfo h1 {
  color: #2b3442;
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .userinfo a {
  color: #0079ff;
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .userinfo p {
  color: #697c9a;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container p {
  width: 279px;
  color: #4b6a9b;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
}
.container .stats {
  width: 279px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f6f8ff;
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
}
.container .stats .repos,
.followers,
.following {
  border: solid;
  width: 4.9375rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
h5 {
  width: 79px;
  color: #4b6a9b;
  text-align: center;
  font-family: "Space Mono";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

