.light-bodyContainer {
  width: 20.4375rem;
  height: 32.3125rem;
  flex-shrink: 0;
  background: #FEFEFE;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}
.dark-bodyContainer {
  width: 20.4375rem;
  height: 32.3125rem;
  flex-shrink: 0;
  background: #FEFEFE;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  border-radius: 15px;
  background-color: #1e2a47;
}

 .user {
  width: 14.5625rem;
  height: 4.375rem;
  flex-shrink: 0;
  display: flex;
  gap: 1.3rem;
  
   
}
 .user img {
  width: 4.375rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 4.375rem;
}
.userinfo {
  width: 9rem;
  height: 4.3125rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.light-bodyContainer .userinfo h1 {
  color: #2B3442;
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dark-bodyContainer .userinfo h1 {
  color: #fff;
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.userinfo a h3{
  color: #0079ff;
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.light-bodyContainer .userinfo p {
  color: #697c9a;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dark-bodyContainer .userinfo p {
  color: #FFF;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.light-bodyContainer p {
  width: 279px;
  color: #4b6a9b;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
}
.dark-bodyContainer p {
  width: 279px;
  color: #FFF;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
}
.light-bodyContainer .stats {
  width: 279px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #F6F8FF;;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-bodyContainer .stats {
  width: 279px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #141d2f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light-bodyContainer .stats .sta {
  width: 4.9375rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.dark-bodyContainer .stats .sta {
  width: 4.9375rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color:#fff ;
  
}
.light-bodyContainer .stats .sta h5{
  width: 4.9375rem;
  color: #4b6a9b;
  text-align: center;
  font-family: "Space Mono";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dark-bodyContainer .stats .sta h5 {
  width: 4.9375rem;
  color: #fff;
  text-align: center;
  font-family: "Space Mono";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.light-bodyContainer .stats .sta span {
  width: 79px;
  color: #2b3442;
  text-align: center;
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.dark-bodyContainer .stats .sta span {
  width: 79px;
  color: #FFF;
  text-align: center;
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.light-bodyContainer .sociallinks {
  width: 11.5625rem;
  height: 7.9375rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dark-bodyContainer .sociallinks {
  width: 11.5625rem;
  height: 7.9375rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  
}
.sl {
  display: flex;
  height: 1.25rem;
  align-items: flex-start;
  gap: 1.202929rem;
  flex-shrink: 0;
  align-items: center;
}
.light-bodyContainer .sociallinks .sl span {
  color: #4B6A9B;;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dark-bodyContainer .sociallinks .sl span{
  color: #fff;
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user, .stats, .para, .sociallinks{
  position: relative;
  left: 6%;
}

#location{
  margin-left: 0.25rem;
}