.container {
  display: flex;
  justify-content: space-between;
  width: 20.4375rem;
}
.container h3 {
  color: #222731;
  font-family: "Space Mono", monospace;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.kidtainer label {
  color: #4b6a9b;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
}
.kidtainer img {
  width: 1.25rem;
  height: 1.25rem;
}
.kidtainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
